body {
  background-color: #add8e6;

}

h1 {
  font-family: 'Roboto', sans-serif;
  margin-left: 80px;
}

.noaa {
  position: absolute;
  top: 20px;
}

.noa {
  position: absolute;
  top: 20px;
  margin-left:893px;
}

border {
  color: white;
}

.nws {
  margin-left:53px;
}

.topnav {
    background-color: #d3d3d3;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    margin-left:10px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #000;
    color: white;
}

html {
  background-color: #add8e6;
}

body {
  margin: 20px;
  background-color: white;
  height: 500px;
}
